body{
    background-image:url(../first-page/background.jpeg);
    background-size: cover;
    font-size:150px;
    padding:50px;
}
header{
    position:absolute;
}
.background-container{
    width: 100%;
    position:absolute;
}
/* 
.pencil{

}
.pen{

}
.paint{

}
.photograph{

}
.photoshop{

}
.ai-generated{

}
*/