.background{
    width: 100%;
    margin: none;
    padding: none;
    position:absolute;
    border: 0;
}
.paint{
    position: absolute;
    top: 516px;
    left: 287px;
    width: 908px;
    height: 945px;
}
.paint:hover{
    box-shadow: inset 3px 3px 22px 22px rgba(0, 0, 0, 0.41);
}