body{
    background-image:url(../pencil/pencil.jpeg);
    background-size: cover;
    font-size:150px;
    padding:50px;
}
.pensneakpeak{
    background-image:url(../pen/pen.jpeg);
    background-size:cover;
    width: 40%;
    height: 40%;

    position: absolute;
    top: 50%;
    left: 50%;
    margin: -10% -20% -20% -20%;
    display: flex;
}