
.background{
    width: 100%;
    margin: none;
    padding: none;
    position:absolute;
    border: 0;
}
.pen{
    position: absolute;
    top: 515px;
    left: 284px;
    width: 897px;
    height: 935px;
}
.pen:hover{
    box-shadow: inset 3px 3px 22px 22px rgba(0, 0, 0, 0.41);
}

