body{
    width:100%;
    height:1928px;
    background-size: cover;
    animation-name: second;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-timing-function:linear;
}
@keyframes second {
    0% {
        background-image: url(first.png)
    }
    20% {
        background-image: url(second.png)
    }
    40% {
        background-image: url(third.png)
    }
    60% {
        background-image: url(fourth.png)
    }
    80% {
        background-image: url(fifth.png)
    }
    100% {
        background-image: url(sixth.png)
    }
}
p{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:100px;
    font-family: "Dosis", sans-serif;
    color:white;
    font-size:60px;
    font-family: "Dosis", sans-serif;
    text-decoration:none;
}
a{
    display:flex;
    justify-content:center;
    align-items:center;
    padding-top:76%;
    font-family: "Dosis", sans-serif;
    color:white;
    font-size:80px;
    font-family: "Dosis", sans-serif;
    text-decoration:none;
    text-shadow: rgba(255, 255, 255, 0.531) 1px 0 10px;
    position:fixed;
}
p2{
    display:flex;
    font-family: "Dosis", sans-serif;
    padding-top:5%;
    padding-left:15%;
    padding-right:15%;
    color:white;
    font-size:40px;
    font-family: "Dosis", sans-serif;
    text-decoration:none;
    text-shadow: rgba(255, 255, 255, 0.531) 1px 0 10px;
    position:fixed;
    text-align:center;
}
